#nav {
    position: fixed;
    z-index: 1;
    
}

#Logo{
    max-width: 10%;
    max-width: 10%;
}

nav .nav-link {
    margin-left: 50px;
}

nav form {
 margin-right: 100px;
}


.nav-link {
    font-size: 20px; 
}


#link-productos:hover   {
    color: rgb(119, 187, 16);
    transition: all 0.3s;
}

#link-comida:hover  {
    color: #ecf408;
    transition: all 0.3s;
}

#link-bebida:hover  {
    color: rgb(205, 138, 13);
    transition: all 0.3s;
}

#link-utiles:hover  {
    color: rgb(158, 0, 92);
    transition: all 0.3s;
}

#link-aseo:hover   {
    color: rgb(13, 81, 208);
    transition: all 0.3s;
}

#search{
    color: black;
    border: #BDD7FA 2px solid ;
}


#search:hover{
    color: black;
    background-color: #BDD7FA ;
    transition: all 0.3s;
}

@media  screen and (max-width: 1294px) {
    .nav-link {
        font-size: 16px; 
    }
    .search{
        margin-right: -60px;
    }
}
@media  screen and (max-width: 1135px) {
    .search{
        margin-right: -158px;
        font-size: 14px;
    }
}
@media  screen and (max-width: 1005px) {
    .nav-link {
        font-size: 15px; 
    }
}
@media  screen and (max-width: 992px) {
    .nav-link {
        font-size: 19px;
        width: 90px;
    }
}